*{
    margin: 0;
    padding: 0;
}

header{
background-color: rgb(17, 10, 92);
  position: fixed;
  top: 0;
  z-index: 9999;
}

.text_header{
    color: rgb(255, 190, 39);
}

.header_btn{
   background-color: rgb(255, 190, 39);
   outline: none;
   border:none;
}

.header_btn2{
    background-image: radial-gradient(circle, rgb(255, 221, 0), rgb(251, 176, 52));
    outline: none;
    font-weight: bold;
    border:none;
}

.header_btn p {
    font-weight: bold;
    font-size: 14px;
}

@keyframes scaleButton2 {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  .header_btn2{
    animation: scaleButton2 3s infinite;
  }
@keyframes scaleButton {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .header_btn {
    animation: scaleButton 1s infinite;
  }

.home__first{
    background-color: rgb(255, 244, 216);
}

.home__first__img{
    background-image: radial-gradient(circle, rgb(229, 45, 39), rgb(179, 18, 23));
}
.home__first__list{
    flex-direction: column;
}
.home__first__list img{
    width: 20px;
}
.dienvien{
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 20px 25px 20px -13px;
    width: 377px;
    height: 311.421px;
    
}

.text__cong{
    font-family: Philosopher, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(112, 50, 32);
    text-align: center;
}
.home__second{
    background-image: url('../images/nen-b-20200817070756.jpg');
    padding: 0 250px;
}
.home__second .text_first{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(167, 75, 0);
    text-align: center;
}
.home__second_box{
    background-color: #fff;
    width: 397.378px;
    height: 224.39px;
}
.home__second_img{
    width: 90%;
    height: auto;
    border-radius: 50%;
    background-position: 50% 0%;
}
.home__first_padding{
    padding: 0 180px;
}
.slick-prev:before, .slick-next:before
{
  color:#000;
}

.slider-for img{
width:100%;
height:400px;
object-fit:cover;

}

.slider-nav img 
{
height:100px;
object-fit:cover;
}
.slider-nav div{
    margin: 0 2px;
}
.slider-for div{
    width: 400px;
}
.draggable{
    width: 400px;
}
.slick-dots{
    width: 400px !important;
}

.home_thirst_img img{
    width: 18px;
}

.home_thirst{
    padding: 0 250px;
}
.home__fourth{
    padding: 20px 270px;
    background-color: rgb(199, 30, 21);
}

.home__fourth__img{
    background: url('../images/red-circle-5a29ac13b07f89.2263795215126804677229.jpg');
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.home__fourth__img svg{
    width: 30px;
    height: 30px;
}

.home__fourth__items{
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    padding: 5px;
}

.home__end{
    padding: 30px 250px;
    background-color: rgba(154, 3, 3, 0.6);
    background: url('../images/shr-ladi-38-01-1-20230804093254-sk46i.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.home__end form{
    flex-direction: column;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
}
.home__end input{
    border: none;
    outline: none;
    margin-top: 10px;
    height: 30px;
    width: 70%;
    padding: 5px 10px;
}

.home__end select{
    border: none;
    outline: none;
    margin-top: 10px;
    height: 30px;
    width: 70%;
}

.home__end button{
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle, rgb(8, 200, 246), rgb(29, 61, 182));
}

.home__end .nhan{
    color: #fff;
}

footer{
    padding: 30px 250px;
    background-color: rgb(129, 1, 1);
    color: #fff;
   
}
footer h3{
    color: rgb(255, 190, 39);
}
footer li{
    list-style: none;
}
footer svg{
    width: 20px;
    height: 20px;
}
.banner{
    margin-top: 58px;
}
@media screen and (max-width: 769px) {
    .home__first_padding{
        padding:10px ;
    }

    .home_thirst{
        padding: 10px;
    }

    .home__second{
        padding: 10px;
    }
    .home__fourth{
        padding: 20px 10px;
    }

    .home__end{
        padding: 20px 10px;
    }
    footer{
        padding: 20px 10px;
    }
    .ttt{
        flex-direction: column;
    }
    .slider-for div{
        width: 390px;
    }
    .draggable{
        width: 360px;
    }
    .slick-dots{
        width: 390px !important;
    }
    .banner{
        margin-top: 97px;
    }
    .dienvien {
        width: 300px;
    }
    .home__second_box {
        width: auto;
        height: auto;
        padding: 7px;
    }
}


